In [1]:
import pyuniprot

In [2]:
pyuniprot.set_connection()

In [3]:
query = pyuniprot.query()

In [26]:
all_entries = query.entry(recommended_short_name='14-3-3E',as_df=True)

In [27]:
entry = query.entry(gene_name='YWHAE', taxid=9606, recommended_short_name='14-3-3E', name='1433E_HUMAN', as_df=True)

In [28]:
all_entries.head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>dataset</th>
      <th>created</th>
      <th>modified</th>
      <th>version</th>
      <th>name</th>
      <th>recommended_full_name</th>
      <th>recommended_short_name</th>
      <th>taxid</th>
      <th>gene_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31457</td>
      <td>Swiss-Prot</td>
      <td>2004-07-05</td>
      <td>2017-08-30</td>
      <td>158</td>
      <td>1433E_HUMAN</td>
      <td>14-3-3 protein epsilon</td>
      <td>14-3-3E</td>
      <td>9606</td>
      <td>YWHAE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>31458</td>
      <td>Swiss-Prot</td>
      <td>2004-07-05</td>
      <td>2017-08-30</td>
      <td>137</td>
      <td>1433E_MOUSE</td>
      <td>14-3-3 protein epsilon</td>
      <td>14-3-3E</td>
      <td>10090</td>
      <td>Ywhae</td>
    </tr>
    <tr>
      <th>2</th>
      <td>31459</td>
      <td>Swiss-Prot</td>
      <td>2004-07-05</td>
      <td>2017-08-30</td>
      <td>128</td>
      <td>1433E_RAT</td>
      <td>14-3-3 protein epsilon</td>
      <td>14-3-3E</td>
      <td>10116</td>
      <td>Ywhae</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
entry.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>dataset</th>
      <th>created</th>
      <th>modified</th>
      <th>version</th>
      <th>name</th>
      <th>recommended_full_name</th>
      <th>recommended_short_name</th>
      <th>taxid</th>
      <th>gene_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31457</td>
      <td>Swiss-Prot</td>
      <td>2004-07-05</td>
      <td>2017-08-30</td>
      <td>158</td>
      <td>1433E_HUMAN</td>
      <td>14-3-3 protein epsilon</td>
      <td>14-3-3E</td>
      <td>9606</td>
      <td>YWHAE</td>
    </tr>
  </tbody>
</table>
</div>